doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document


    body
    include ./navbar.pug
div
       p(style="text-align : center;color : red;font-size:25px;") Hello GoMyCode
        p(style="text-align : center;") Express Checkpoint.

