div.header
    ul(style="display : flex;justify-content : space-around;align-items : center;list-style : none;")
      li(style="font-size : 25px;")
        a(href='/' style="text-decoration : none;color : black;") Home
      li(style="font-size : 25px;")
        a(href='/services' style="text-decoration : none;color : black;") Services
      li(style="font-size : 25px;")
        a(href='/contact' style="text-decoration : none;color : black;") Contact Us
.





